/*
 * Globals
 */

/* southam law colors
light blue = 7e96e5
dark grey = 9096aa
blue = 546499
light grey = c3cbe5
dark blue = 384366
*/

/* Links */
a,
a:focus,
a:hover {
  color: #9096aa;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #9096aa;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #384366;
  padding-top: 70px;
}

body {
  font-family: Azuro, Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  height: 100%;
}

.navbar {
  width: 100%;
  background-color: #384366;

}

.jumbotron {
  background-color: inherit;
}

.big-text {
  font-size: 20px;
}

.no-background-color {
  background-color: transparent;
}

.full-image {
    background: url('images/fromWilson.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
  font-size: 16px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 32px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
  font-size: 14px;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  /*display: table;*/
  width: 100%;
  min-height: 100%;
  position: relative;
}
.main-content {
  padding:10px;
  padding-bottom: 24px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.outer {
  padding-top: 30px;
  padding-bottom: 5px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: calc(100vh - 180px - 24px); /* 180 for the header/nav 42 for the footer   */
  display: flex;
  align-items: center;
}

.rounded {
  border-radius: 10px;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(144, 150, 170);
  /* RGBa with 0.6 opacity */
  background: rgba(144, 150, 170, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.rounded h1, h2, h3, h4, h5, h6 {
  margin-top: 2px;
  margin-bottom: 5px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.masthead-nav {
  clear: both;
  text-align: center;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #9096aa;
  border-bottom-color: rgba(144,150,170,1);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-nav {
    float: center;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-size: 12px;
  padding-top: 5px;
  position: absolute;
  height: 24px;
  bottom:0;
  text-align: center;
  background-color: #384366;
}

.mastfoot p {
  margin: 0;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/ /* removed to make the footer be on the bottom*/
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  /*.masthead,
  .mastfoot,
  .cover-container,*/
  .masthead-brand {
    vertical-align: middle;
    width: 640px;
    clear: both;
  }
}





/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	/*@font-face {
	    font-family: 'Azuro';
	    src: url('type/azuro-regular.eot');
	    src: url('type/azuro-regular.eot?iefix') format('eot'),
	         url('type/azuro-regular.woff') format('woff'),
	         url('type/azuro-regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal; }

	@font-face {
	    font-family: 'Azuro';
	    src: url('type/azuro-italic.eot');
	    src: url('type/azuro-italic.eot?iefix') format('eot'),
	         url('type/azuro-italic.woff') format('woff'),
	         url('type/azuro-italic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic; }

	@font-face {
	    font-family: 'Azuro';
	    src: url('type/azuro-bold.eot');
	    src: url('type/azuro-bold.eot?iefix') format('eot'),
	         url('type/azuro-bold.woff') format('woff'),
	         url('type/azuro-bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal; }

	@font-face {
	    font-family: 'Azuro';
	    src: url('type/azuro-bolditalic.eot');
	    src: url('type/azuro-bolditalic.eot?iefix') format('eot'),
	         url('type/azuro-bolditalic.woff') format('woff'),
	         url('type/azuro-bolditalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic; }*/
